

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="view_model/homepage_model.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="appBar">
       <div>
        <img src="images/pngLogo.png" class="imageLogo"/>
       </div>
        Welcome To My Blog
        <button class="myProject" type="button" onclick="parent.location=`myProject.html`">
            My Project
        </button>
    </div>
    <div class="imageStyle">
        <div class="imageBox">
            <img src="images/mePhoto.jpg" class="imageSize"/>
            
        </div>
        <div>
            <h3 class="aboutMe">
                Merhaba benim adım Onurcan IŞIK. Düzce Üniversitesi 3. Sınıf Elektrik Elektronik Mühendisliği öğrencisiyim. 1 yıla yakın süredir Flutter ile birlikte mobil uygulamalar çıkarıyorum ve çıkarmaya da devam ediyorum. Son zamanlarda ise html-css-javascript öğrenmeye başladım. İşte ben buyum :)
            </h3>
        </div>
    </div>
    <div>
        <hr color="#222831;" size="1"> 
    </div> 
            <div class="resimDiv">
                <a href="https://github.com/onurcanIsik">
                    <img src="images/github.png" class="github"/>
                </a>

                <a href="https://www.instagram.com/onurcan_isk/">
                    <img src="images/insta.png" class="insta"/>
                </a>

                <a href="https://www.linkedin.com/in/onurcanisik/">
                    <img src="images/linkedin.png" class="linkedin"/>
                </a>
            </div>
            <div class="title">
                <h1>
                    My Contact Information
                </h1>
            </div>
            <div>
               <h3 class="email">
                e-mail: onurcannisik@gmail.com
               </h3>
            </div>
</body>
</html>