

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link href="view_model/myProject.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="appBar">
        <div>
            My Project
        </div>
    </div>

    <div class="resimDiv">
        <img src="images/flutter.png" class="flutterImage"/>
        
        <div>
            <img src="images/js.png" class="jsImage"/>
            <img src="images/htmlLogo.png" class="htmlImage"/>
            <img src="images/cssLogo.png" class="cssImage"/>
            
        </div>
    </div>
    <div class="listDiv">
        <ul>
            <li>
                ToDo App
            </li> 
            <li>
                Flutter Firebase Crud
            </li>
            <li>
                Flutter Bmi
            </li>
            <li>
                Flutter Nft UI
            </li>
            <li>
                Flutter Bloc
            </li>
            <li>
                Flutter Mobx Sample Api 
            </li>
            <li>
                Flutter Firebase CvGo
            </li>
            <li>
                Html-Css-Javascript Blog Web
            </li>
        </ul>
    </div>
    

    
    
</body>
</html>